.real-sidenav-container {
    height: 100vh;
  }
  .real-sidenav-container.mat-drawer-container {
    background: none;
  }
  .real-sidebar-menu {
    margin-left: 0.5rem;
  }
  .mat-list, .mat-nav-list,
  .mat-selection-list {
    padding-top: 1px;
  }  
  #real-scroll-to-top-btn {
    bottom: 3rem;
    border-radius: 20px;
    background: #003a70;
    border: 2px solid #003a70;
    color: white;
    cursor: pointer;
    height: 40px;
    position: fixed;
    right: 3rem;
    text-align: center;
    width: 40px;
    z-index: 100;
  }
  .real-scroll-to-top-icon {
    font-size: 2rem;
    height: 32px;
    width: 32px;
  }