<mat-sidenav-container class="real-sidenav-container">
  <mat-sidenav #sidenav mode="over" class="app-sidenav">
      <mat-toolbar id="real-sidebar-header">
      <!--future svg to go here-->
      <span class="toolbar-filler"></span>
      <button mat-icon-button (click)="sidenav.toggle()" class="mat-icon-button sidenav-toggle-button real-sidebar-close-btn" [hidden]="!sidenav.opened">
          <mat-icon aria-label="Menu" class="material-icons">close</mat-icon>
      </button>
      </mat-toolbar>
      <mat-nav-list>
          <mat-list-item class="real-sidebar-list-item" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" role="listitem" (click)="sidenav.toggle()">
              <mat-icon class="material-icons">dashboard</mat-icon> <span class="real-sidebar-menu"> {{ 'MAIN_DASHBOARD' | translate }}</span>
          </mat-list-item>
          <mat-list-item class="real-sidebar-list-item" [routerLink]="['/dashboard1']" routerLinkActive="active" role="listitem" (click)="sidenav.toggle()">
              <mat-icon class="material-icons">store </mat-icon> <span class="real-sidebar-menu"> {{ 'DASHBOARD_1' | translate }}</span>
          </mat-list-item>
      </mat-nav-list>
  </mat-sidenav>
  <ngx-spinner 
      bdColor="rgba(51,51,51,0.8)"
      size="default"
      color="#fff"
      type="pacman"
      class="real-spinner">
      <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
  <real-header (sidebarClick)="sidenav.toggle()"></real-header>
  <div class="real-body-container" currentLanguage="currentLanguage">
      <router-outlet></router-outlet>
  </div> 
</mat-sidenav-container>
