body {
  margin: 0;
  overflow: hidden;

  .real-spinner {
    .black-overlay,
    .loading-text {
      position: fixed !important;
    }
  }

  .real-body-container {
    background: none;
    margin: 1.5rem 2rem 8rem;
  }

  .real-page-title {
    color: $page-title-color;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  .real-tooltip {
    background: $black;
    border-radius: 4px;
    font-size: 0.75rem;
  }

  .form-control:focus {
    box-shadow: 0 0 0 0.1rem rgba(63, 81, 181, 0.25) !important;
    outline: none;
  }

  table.real-table {
    border: 1px solid rgba(0, 0, 0, .1);
    width: 100%;

    th.mat-header-cell {
      background: $table-header-bg;
      color: $white;
      font-size: 1rem;

      .mat-sort-header-arrow {
        color: $white;
      }
    }

    th.mat-header-cell, td.mat-cell {
      padding-bottom: 0.5rem;
      padding-left: 1rem;
      padding-top: 0.5rem;
    }

    th.real-column-right,
    td.real-column-right {
      padding-right: 1rem;
      text-align: right;
    }

    th.real-column-right .mat-sort-header-container {
      justify-content: flex-end;
    }

    th.real-column-center,
    td.real-column-center {
      text-align: center;
    }

    th.real-column-center .mat-sort-header-container {
      justify-content: center;
    }
  }

  .real-login-form mat-form-field {
    display: block;
  }

  .real-login-btn {
    border-radius: 4px;
    font-size: 1.125rem;
    line-height: 3rem;
    width: 100%;
  }

  .real-legend {
    border: 1px solid $light-grey;
    border-radius: 4px;
    margin-left: 2rem;
    padding: 0.275rem 0.5rem;
  }

  pre {
    color: inherit !important;
    display: inline-block !important;
    font-family: inherit !important;
    font-size: inherit !important;
    white-space: pre-wrap;
    word-break: break-word;
  }

  .mat-error {
    font-size: 0.875rem;
  }

  .real-paginator-container {
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
  }

  .btn + .btn {
    margin-left: 0.5rem;
  }

  button:focus {
    box-shadow: none;
    outline: 0;
  }

  .real-mat-icon {
    font-size: 2rem;
    margin-right: 0.875rem;
    margin-top: 0.225rem;
    vertical-align: text-bottom;
  }

  .real-alert-message {
    padding: 1rem;
    position: relative;

    div {
      cursor: pointer;
      position: absolute;
      right: 2rem;
      top: 0.925rem;
    }

    .real-times-circle {
      font-size: 1.5rem;
    }
  }

  button.real-mat-button {
    outline: none;

    &:focus {
      outline: none;
    }
  }

  .mat-header-cell {
    .mat-sort-header-container.mat-sort-header-sorted .mat-sort-header-arrow {
      opacity: 1 !important;
    }
  }

  .mat-drawer-content {
    height: 92%
  }

  /* Starts here - Common classses that can be used across pages */
  .real-cursor-pointer {
    cursor: pointer;
  }

  .real-cursor-not-allowed {
    cursor: not-allowed;
  }

  .real-float-right {
    float: right;
  }

  .real-clear {
    clear: both;
  }

  .real-mt-1 {
    margin-top: 1rem;
  }

  .real-mb-1 {
    margin-bottom: 1rem;
  }

  .real-mb-half {
    margin-bottom: 0.5rem;
  }

  .real-mr-1 {
    margin-right: 1rem;
  }

  .real-mr-half {
    margin-right: 0.5rem;
  }

  .real-p-1-5 {
    padding: 1.5rem;
  }

  .real-pos-rel {
    position: relative;
  }

  .real-display-if {
    display: inline-flex;
  }

  .real-vertical-align-middle {
    vertical-align: middle;
  }

  /* Ends here - Common classses that can be used across pages */

  @media only screen and (max-width: 992px) {

    #realLanguagedropdownMenuButton {
      margin-right: 0;
    }

    td {
      word-break: break-all;
    }
  }
}
