@import "../../../node_modules/@angular/material/_theming.scss";
@import "./variables.scss";

@include mat-core();

$mat-pink: (
  50: #fce4ec,
  100: #f8bbd0,
  200: #f48fb1,
  300: #f06292,
  400: #ec407a,
  500: $pim-app-accent,
  600: #d81b60,
  700: #c2185b,
  800: #ad1457,
  900: #880e4f,
  A100: #ff80ab,
  A200: #ff4081,
  A400: #f50057,
  A700: #c51162,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$pim-app-primary: mat-palette($mat-blue-grey);
$pim-app-accent:  mat-palette($mat-pink, 500, 900, A100);
$pim-app-warn:    mat-palette($mat-deep-orange);

$pim-app-theme: mat-light-theme($pim-app-primary, $pim-app-accent, $pim-app-warn);
@include angular-material-theme($pim-app-theme);