$flag-icon-css-path: '../../../node_modules/flag-icon-css/flags' !default;

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../../../node_modules/flag-icon-css/sass/flag-icon";
@import "./variables.scss";
@import "./basic.scss";
@import "./header.scss";
@import "./sidebar.scss";
@import "./dashboard.scss";

